body {
    background-color: rgb(171, 250, 250);
    margin: auto;
    width: auto;
}
#img_redonda {
    height: 200px;
    height: 200px;
    border-radius: 50%;
}
.container { 
    width: 700px; 
    margin-left: auto;
    margin-right: auto; 
}
